.player.open {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #202020;
  flex-direction: column;
}

.player.open .now-playing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player.open .player-screen {
  margin-top: 40px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player.open .player-header,
.current-playlist .player-header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 15px;
}

.player.open .now-playing .cover-wrapper {
  width: 85vw;
  height: 85vw;
  max-width: 400px;
  max-height: 400px;
}

.player.open .controller-desktop .icons {
  display: flex !important;
  justify-content: space-between;
  margin-top: 10vh;
  width: 85vw;
}

.player.open .controller-desktop {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.player.open .controller.mobile {
  display: none;
}

.player.open .info {
  text-align: center;
  padding: 0;
  margin-top: 30px;
}

.player.open .info div {
  justify-content: center;
}

.player.open .progress-bar {
  margin-top: 5vh;
  height: 24px;
  position: absolute;
  width: 85vw;
  top: 0;
}

.player.open .progress-bar .passed,
.player.open .progress-bar .bar,
.player.open .progress-bar .total {
  font-size: 13px;
  display: flex !important;
}

.player.open .progress-bar .bar {
  transition: 0.1s ease-in-out;
  margin-bottom: 5px;
  position: relative;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}

.player.open .progress-bar .bar::after {
  content: "";
  position: absolute;
  height: 2px;
  width: var(--after-width);
  background-color: rgba(255, 255, 255, 1);
}

.player.open .progress-bar .passed {
  position: absolute;
  margin-top: 7px;
}

.player.open .progress-bar .total {
  position: absolute;
  right: 0;
  margin-top: 7px;
}

.player.open .icons img:nth-of-type(3) {
  transition: 0.2s ease-in-out;
  border-radius: 50%;
  padding: 5px;
  width: 70px;
  height: 70px;
}

.player.open .icons img:nth-of-type(3):hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.player.open .now-playing .title {
  font-size: 25px;
  line-height: inherit;
  white-space: nowrap;
}

.player.open .now-playing .performer {
  font-size: 15px;
  white-space: nowrap;
}

.player.open .bottom-icons {
  width: 85vw;
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.player:not(.open) .progress-bar .bar:hover {
  height: 4px;
}

.player.open .progress-bar .bar:hover {
  height: 4px;
}

/* current playlist */

.current-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: calc(100vh - 104px);
  background-color: #202020;
  position: absolute;
  z-index: 999;
}

.current-playlist .info {
  margin: 0;
}

.current-playlist .cover-wrapper {
  width: 47px;
  height: 47px;
  min-height: 47px;
  min-width: 47px;
  margin: 0;
}

.current-playlist .current-playlist-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-playlist .current-playlist-wrapper > div {
  position: relative;
  width: 100%;
  display: flex;
  padding: 10px 30px;
}

.current-playlist .current-playlist-wrapper > div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.current-playlist .current-playlist-wrapper .info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin: 0;
}

.current-playlist .current {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
}

.current-playlist .current::after {
  content: url(/public/icons/sound.svg);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 47px;
  width: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-wrap,
.view-wrap {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.like-wrap .tooltip {
  display: none;
  position: absolute;
  right: auto;
  bottom: 54px;
  text-align: center;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 10px;
  width: 50px;
}

.view-wrap .tooltip {
  position: absolute;
  right: auto;
  bottom: 54px;
  text-align: center;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 10px;
  width: 50px;
}

.like-wrap .tooltip.show {
  display: block;
}

.tooltip {
  z-index: 99999999;
}

.like-wrap .tooltip::after,
.view-wrap .tooltip::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
  border-bottom: 4px solid none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(255, 255, 255, 0.5);
}

.player.open .like-wrap .tooltip {
  bottom: 40px;
}

.view-library {
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  left: 40px;
  height: 300px;
  width: 80%;
  background-color: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  z-index: 9999;
  bottom: 80px;
}

.titles-wrap {
  max-height: calc(100% - 50px);
  overflow-y: scroll;
}

.library-title {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.library-title:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid transparent;
}

.library-title:last-of-type {
  border: none;
}

.view-library h3 {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 50px;
  border-bottom: 2px solid white;
  border-radius: 20px 20px 0 0;
  color: white;
  padding-bottom: 20px;
}

.view-library h3:last-of-type {
  bottom: 0;
  border: 1px solid white;
  width: 70%;
  border-radius: 50px;
}

.library-title.add input {
  width: 80vw;
  padding: 0 20px;
  height: 100%;
  background: transparent;
  color: white;
}

.view-library .createBtn {
  cursor: pointer;
  margin: 20px 0;
  padding-bottom: 0;
  padding: 10px 0;
}

.createBtn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
}

.added-notification {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 108px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.added-to-playlist-notification {
  z-index: 9999;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 108px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

@media (min-width: 530px) {
  .added-notification {
    bottom: 128px;
  }

  .added-to-playlist-notification {
    bottom: 128px;
  }
}

@media (min-width: 600px) {
  .added-notification {
    bottom: 95px;
  }

  .added-to-playlist-notification {
    bottom: 95px;
  }

  .like-wrap .tooltip,
  .view-wrap .tooltip {
    bottom: 35px;
  }

  .current-playlist {
    margin-left: 240px;
    width: calc(100vw - 240px);
    height: calc(100vh - 90px);
  }
}
