#user {
  body {
    overflow-y: hidden;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 104px);
    padding: 0;
  }

  #profile .profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  #profile .profile-img::after {
    cursor: pointer;
    content: "Change";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.2s ease-in-out;
  }

  #profile .profile-img:hover::after {
    opacity: 1;
  }

  #profile .profile-wrapper .profile-img {
    position: relative;

    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
  }

  #profile .profile-wrapper div {
    margin: 3px 0;
  }

  #profile .profile-wrapper div:nth-of-type(2) {
    opacity: 0.6;
  }

  #profile .profile-wrapper div:nth-of-type(3) {
    font-size: 25px;
    font-weight: bold;
  }

  #profile .button-wrapper {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #profile button {
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 30px;
    margin: 5px;
    width: 80%;
  }

  #profile button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: transparent;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form div {
    display: flex;
    flex-direction: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 30px;
  }

  form img {
    width: 30px;
    height: 30px;
  }

  input {
    width: 300px;
    padding: 15px 20px;
    color: black;
    background-color: transparent;
    border-radius: 30px;
    font-size: 18px;
  }

  label {
    /* display: flex; */
    display: none;
    justify-content: center;
    width: 100%;
    /* padding-left: 20px; */
    font-size: 20px;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    border-radius: 30px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
  }

  input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  @media (min-width: 600px) {
    #profile button {
      width: 400px;
    }
  }
}
