extends base

block content
    section#user
        - if (loggedIn)
            section#profile
                .profile-wrapper
                    .profile-img
                    .user-id #{loggedInEmail}
                    .username #{loggedInUsername}
                .button-wrapper
                    button.change-pwChange Change password
                    button.logout(onclick="signOut()") Sign out
                    button.resignation Delete account
        - if (!loggedIn)
            section#login
                h2 Sign in 
                form(action="/signin",method="POST")
                    .email
                        img(src="static/icons/email.svg")
                        input(name="email", type="email", placeholder="Enter your E-mail")
                    .pw
                        img(src="static/icons/pw.svg")
                        input(name="password", type="password", placeholder="Enter your password")
                    input(type="submit")
                div Don't have an account? Click 
                    a(href="/register")
                        span here 
                    span  to sign up!