extends base

block content
    section#user
        - if (loggedIn)
            section#profile
                h2 Your Profile
                .profile-wrapper
                    .user-id #{loggedInEmail}
                    .username #{loggedInUsername}
                .button-wrapper
                    button.logout(onclick="signOut()") Sign out
                    button.resignation(onclick="showDeleteAccount()") Delete account
            section#deleteAccount.hidden
                h3 Do you really want to delete your account? 
                button.yes(onclick="deleteAccount()") DELETE
                button.no(onclick="noButton()") CANCEL
        - if (!loggedIn)
            section#login
                h2 Sign in 
                form(action="/signin",method="POST")
                    .email
                        img(src="public/icons/email.svg")
                        input(name="email", type="email", placeholder="Enter your E-mail")
                    .pw
                        img(src="public/icons/pw.svg")
                        input(name="password", type="password", placeholder="Enter your password")
                    input(type="submit", value="Sign in")
                div Don't have an account? Click 
                    a(href="/register")
                        span.here here
                    span  to sign up!