extends base

block content
    #before-search 
        section.music-section#era
            .music-header 
                .title-wrapper 
                    h2 Era
            .music-wrapper
                .music 
                    .early-romantic.cover-wrapper Early Romantic
                .music
                    .middle-romantic.cover-wrapper Middle Romantic
                .music    
                    .late-romantic.cover-wrapper Late Romantic
                .music    
                    .post-romantic.cover-wrapper Post Romantic
        section.music-section#composer
            .music-header
                .title-wrapper 
                    h2 Composers 
                .buttons.desktop 
                    img.left(src="static/icons/left.svg")
                    img.right(src="static/icons/right.svg")
            .music-wrapper 
                .music
                    .chopin.cover-wrapper 
                    .info 
                        .title Frédéric Chopin
                .music
                    .robert-schumann.cover-wrapper 
                    .info 
                        .title Robert Schumann
                .music
                    .clara-schumann.cover-wrapper 
                    .info 
                        .title Clara Schumann
                .music
                    .liszt.cover-wrapper 
                    .info 
                        .title Franz Liszt
                .music
                    .tchaikovsky.cover-wrapper 
                    .info 
                        .title Pyotr Ilyich Tchaikovsky
                .music
                    .mendelssohn.cover-wrapper 
                    .info 
                        .title Felix Mendelssohn 
                .music
                    .brahms.cover-wrapper 
                    .info 
                        .title Johannes Brahms
                .music
                    .rachmaninov.cover-wrapper 
                    .info 
                        .title Sergei Rachmaninov 
    #after-search.hidden
        .info-box.hidden
            .years 1810.03.01 ~ 1849.10.17
            .title Frederic Chopin 
            p Frédéric François Chopin was a Polish composer and virtuoso pianist of the Romantic period, who wrote primarily for solo piano. He has maintained worldwide renown as a leading musician of his era, one whose "poetic genius was based on a professional technique that was without equal in his generation".
        #result-list 
            .result-composer 
                .cover-wrapper 
                .title Chopin 
            h2 Top result 
            - if(results !== undefined)
                each result in results
                    .result     
                        .cover-wrapper(style=`background-image:'url(${result.thumbnail})'`) 
                        .info 
                            .title #{result.title}
                            .performer #{result.performer}
                        img(src="static/icons/add_to_playlist.svg")