nav 
    .logo.desktop 
        a(href="/")
            img(src="/static/img/logo.png")
    ul
        a(href="/")
            li(data-menu="home")
                img(src="/static/icons/home.svg")
                span.tablet home
        a(href="/search")
            li(data-demnu="search")
                img(src="/static/icons/search.svg")
                span.tablet search
        - if (loggedIn)
            a(href="/library")
                li(data-menu="library")
                    img(src="/static/icons/library_inactive.svg")
                    span.tablet library
            .divider.desktop 
            ul.my-playlist.desktop 
                a(href="/playlist/liked")
                    li(data-menu="playlist")
                        img(src="/static/icons/heart_inactive.svg")
                        span Liked 
                - for (i=0; i < list.length; i++)
                    a(href=`/playlist/${list[i]._id}`)
                        li(data-menu="playlist")
                            .playlist-cover #{list[i].name.charAt(0)}
                            span #{list[i].name}
        - else 
            a(href="#")
                li
                    img(src="/static/icons/library_inactive.svg")
                    span.tablet library
            .divider.desktop 
            ul.my-playlist.desktop 
                a(href="#")
                    li
                        img(src="/static/icons/heart_inactive.svg")
                        span Liked 
