nav 
    .logo.desktop 
        a(href="/")
            img(src="static/img/logo.png")
    ul
        a(href="/")
            li(data-menu="home")
                img(src="static/icons/home.svg")
                span.tablet home
        a(href="/search")
            li(data-demnu="search")
                img(src="static/icons/search.svg")
                span.tablet search
        a(href="/library")
            li(data-menu="library")
                img(src="static/icons/library_inactive.svg")
                span.tablet library
        .divider.desktop 
        ul.my-playlist.desktop 
            a(href="/playlist")
                li(data-menu="playlist")
                    img(src="static/icons/heart_inactive.svg")
                    span Liked
            a(href="/playlist")
                li(data-menu="playlist")
                    .playlist-cover C
                    span Chopin Sonatas