#player-container
    .player 
        .player-header.mobile.hidden
            img(src="public/icons/close.svg")
        .player-screen
            .now-playing
                .cover-wrapper
                .info 
                    .composer.desktop 
                        span Composer
                    .title 
                        span Title
                    .performer 
                        span Performer
                .like-wrap.mobile.open.hidden
                    img(class="like inactive", src="public/icons/heart_inactive.svg")
                    .tooltip Please sign in 
            .controller.mobile
                .icons
                    img.play(src="public/icons/play.svg")
                .like-wrap
                    img(class="like inactive", src="public/icons/heart_inactive.svg")
                    .tooltip Please sign in 
            .controller-desktop.closed 
                .icons.desktop 
                    img(class="random", src="public/icons/random_inactive.svg")
                    img(class="previous", src="public/icons/previous.svg")
                    img.play(src="public/icons/play.svg")
                    img(class="next", src="public/icons/next.svg")
                    img(class="repeat", src="public/icons/repeat_inactive.svg")
                .progress-bar
                    .desktop.passed 0:00
                    .desktop.total 0:00
                    .bar 
            .controller-right-wrapper.desktop
                    .like-wrap
                        img(class="like inactive", src="public/icons/heart_inactive.svg")
                        .tooltip Please sign in 
                    .view-wrap 
                        img(class="add-to-library" src="public/icons/add_to_library.svg")
                        .tooltip.hidden Add to library
                    .view-wrap
                        img(class="view-playlist" src="public/icons/view_playlist.svg")
                        .tooltip.hidden View playlist
                    .soundbar-container
                        .soundbar-wrapper
                            .soundbar
                        img(class="sound", src="public/icons/sound.svg")

        .bottom-icons.mobile.hidden
            .view-wrap 
                img(class="add-to-library", src="public/icons/add_to_library.svg")
                .tooltip.hidden Add to library
            .view-wrap 
                img(class="view-playlist" src="public/icons/playlist.svg")
                .tooltip.hidden View playlist
    .current-playlist.hidden
        .player-header
            img(src="public/icons/close.svg")
        h2 Playlist
        .current-playlist-wrapper 
    .view-library.hidden
        h3.title Add to library
        .titles-wrap 
            - for (i=0; i < list.length; i++)
                .library-title(onclick=`addToLibrary("${list[i]._id}")`) #{list[i].name}
            .library-title.add(onclick="playlistInputHandler()")
                span + Create a playlist
                input.hidden(name="name", type="text", placeholder="Create a playlist")
            //- input.hidden(name="currentVideoId", type="text", value="")

        h3.createBtn.hidden(onclick="createPlaylist(event)") Create a playlist

    .added-notification.hidden added to queue 
    .added-to-playlist-notification.hidden added to playlist
            
    #player
        
