.player 
    .player-header.mobile.hidden
        img(src="static/icons/close.svg")
    .player-screen
        .now-playing
            .cover-wrapper
            .info 
                .composer.desktop Frederic Chopin
                .title Chopin: Etude Op. 25 No. 11 
                .performer Maurizio Pollini
        .controller.mobile
            .icons
                img.play(src="static/icons/play.svg")
                img(src="static/icons/heart_inactive.svg")
        .controller-desktop.closed 
            .icons.desktop 
                img(src="static/icons/random_inactive.svg")
                img(src="static/icons/previous.svg")
                img.play(src="static/icons/play.svg")
                img(src="static/icons/next.svg")
                img(src="static/icons/repeat_inactive.svg")
            .progress-bar
                .desktop.passed 2:36
                .bar 
                .desktop.total 6:10
        .controller-right-wrapper.desktop
                img(src="static/icons/heart_inactive.svg")
                img(src="static/icons/add_to_playlist.svg")
                img(src="static/icons/view_playlist.svg")
                img(src="static/icons/sound.svg")
    .bottom-icons.mobile.hidden
        img(src="static/icons/heart_inactive.svg")
        img(src="static/icons/playlist.svg")
.current-playlist.hidden
    .player-header
        img(src="static/icons/close.svg")
    .current-playlist-wrapper 
        .current
            .cover-wrapper
            .info 
                .title Brahms: Intermezzo
                .performer Evgeni Kissin
            .drag
                img(src="static/icons/drag.svg")
        
#player

            
