#player-container
    .player 
        .player-header.mobile.hidden
            img(src="static/icons/close.svg")
        .player-screen
            .now-playing
                .cover-wrapper
                .info 
                    .composer.desktop 
                        span Composer
                    .title 
                        span Title
                    .performer 
                        span Performer
            .controller.mobile
                .icons
                    img.play(src="static/icons/play.svg")
                    img(src="static/icons/heart_inactive.svg")
            .controller-desktop.closed 
                .icons.desktop 
                    img(class="random", src="static/icons/random_inactive.svg")
                    img(class="previous", src="static/icons/previous.svg")
                    img.play(src="static/icons/play.svg")
                    img(class="next", src="static/icons/next.svg")
                    img(class="repeat", src="static/icons/repeat_inactive.svg")
                .progress-bar
                    .desktop.passed 0:00
                    .desktop.total 0:00
                    .bar 
            .controller-right-wrapper.desktop
                    img(src="static/icons/heart_inactive.svg")
                    img(class="view-playlist" src="static/icons/add_to_playlist.svg")
                    img(class="view-playlist" src="static/icons/view_playlist.svg")
                    .soundbar-container
                        .soundbar-wrapper
                            .soundbar
                        img(class="sound", src="static/icons/sound.svg")

        .bottom-icons.mobile.hidden
            img(src="static/icons/heart_inactive.svg")
            img(class="view-playlist" src="static/icons/playlist.svg")
    .current-playlist.hidden
        .player-header
            img(src="static/icons/close.svg")
        .current-playlist-wrapper 

            
    #player

            
